<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
		   http://www.springframework.org/schema/context
		   http://www.springframework.org/schema/context/spring-context-4.3.xsd
		   http://www.springframework.org/schema/tx 
		   http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		   http://www.springframework.org/schema/aop 
		   http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	
	<!-- 自动注入 -->
	<context:component-scan base-package="com.tfkcoder.business.dao" />
	<context:component-scan base-package="com.tfkcoder.business.service" />
	<context:component-scan base-package="com.tfkcoder.business.action" /> 
	
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- datasource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}"/>	
		<property name="url" value="${jdbc.url}"/>	
		<property name="username" value="${jdbc.username}"/>	
		<property name="password" value="${jdbc.password}"/>	
		
		<property name="maxActive" value="150"/>		
		<property name="minIdle" value="5"/>	
		<property name="maxIdle" value="20"/>	
		<property name="initialSize" value="30" />
		<property name="logAbandoned" value="true" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="10" />
		<property name="maxWait" value="1000" />
		<property name="timeBetweenEvictionRunsMillis" value="10000" />
		<property name="numTestsPerEvictionRun" value="10" />
		<property name="minEvictableIdleTimeMillis" value="10000" />
		<property name="validationQuery" value="SELECT NOW() FROM DUAL" />	
	</bean>
	
	<!-- hibernate sessionfactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
        <property name="hibernateProperties">  
            <props>  
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>  
                <prop key="hibernate.hbm2ddl.auto">update</prop>  
                <prop key="hibernate.show_sql">true</prop>  
                <prop key="hibernate.format_sql">true</prop>
            </props>  
        </property>  
        <property name="annotatedClasses">  
            <list>  
                <value>com.tfkcoder.business.entity.User</value>  
            </list>  
        </property> 
    </bean> 
	
	<!-- 设定transactionManager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!--启动spring事务注解功能 -->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
	
</beans>